body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
}

button:hover {
    background-color: #45a049;
}

form {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
    text-align: left;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


#formSubmitBtn {
    background-color: #28a745;
    margin-top: 10px; 
}

#message {
    font-size: 16px;
    color: red;
    margin-top: 20px;
    text-align: center;
}

button {
    pointer-events: auto;
    cursor: pointer;
}
